tests/resources/service/UslugaBIRzewnPubl.xsd

<?xml version="1.0" encoding="utf-8" ?> 
  <wsdl:definitions name="UslugaBIRzewnPubl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://CIS/BIR/PUBL/2014/07" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="e3_policy">
  <wsp:ExactlyOne>
  <wsp:All>
  <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
  <wsp:Policy>
  <sp:TransportToken>
  <wsp:Policy>
  <sp:HttpsToken RequireClientCertificate="false" /> 
  </wsp:Policy>
  </sp:TransportToken>
  <sp:AlgorithmSuite>
  <wsp:Policy>
  <sp:Basic256 />  
  </wsp:Policy>
  </sp:AlgorithmSuite>
  <sp:Layout>
  <wsp:Policy>
  <sp:Strict /> 
  </wsp:Policy>
  </sp:Layout>
  </wsp:Policy>
  </sp:TransportBinding>
  <wsaw:UsingAddressing /> 
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
  
  <wsdl:import namespace="http://CIS/BIR/PUBL/2014/07" location="https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl_wsdl0.xsd" /> 
  <wsdl:types /> 
  <wsdl:binding name="e3" type="i0:IUslugaBIRzewnPubl">
  <wsp:PolicyReference URI="#e3_policy" /> 
  <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" /> 
  
  <wsdl:operation name="PobierzCaptcha">
  <soap12:operation soapAction="http://CIS/BIR/2014/07/IUslugaBIR/PobierzCaptcha" style="document" /> 
  <wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="SprawdzCaptcha">
  <soap12:operation soapAction="http://CIS/BIR/2014/07/IUslugaBIR/SprawdzCaptcha" style="document" /> 
  <wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  
  <wsdl:operation name="GetValue">
  <soap12:operation soapAction="http://CIS/BIR/2014/07/IUslugaBIR/GetValue" style="document" /> 
  <wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  
  <wsdl:operation name="SetValue">
  <soap12:operation soapAction="http://CIS/BIR/2014/07/IUslugaBIR/SetValue" style="document" /> 
  <wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  
  
  <wsdl:operation name="Zaloguj">
  <soap12:operation soapAction="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj" style="document" /> 
  <wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="Wyloguj">
  <soap12:operation soapAction="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Wyloguj" style="document" /> 
  <wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DaneSzukaj">
  <soap12:operation soapAction="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukaj" style="document" /> 
  <wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DanePobierzPelnyRaport">
  <soap12:operation soapAction="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport" style="document" /> 
  <wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="DaneKomunikat">
  <soap12:operation soapAction="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneKomunikat" style="document" /> 
  <wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
  
 
  
  <wsdl:service name="UslugaBIRzewnPubl">
  <wsdl:port name="e3" binding="tns:e3">
  <soap12:address location="https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc" /> 
  <wsa10:EndpointReference>
  <wsa10:Address>https://Wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa10:Address> 
  </wsa10:EndpointReference>
  </wsdl:port>

  
  </wsdl:service>
  </wsdl:definitions>